body, h1, h2, h3, h4, h5, h6, p, ul, li, table {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
}

/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    background-color: pink; 
}

/* Style the table header */
thead {
    background-color: grey;
}

th,td {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #808080;
}

/* Style the table body */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}